.header__innner{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: left;
}
.header__logo{
    display: inline-block;
}
.header__logo h1{
    color: white;
}
.pr__img{
    width: 800px;
    height: 300px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}
.pr__img img{
    width: 300px;
    height: 100%;
}

.pr__text{
    margin: 20px auto;
    text-align: center;
}
.pr__midashi{
    font-size: 40px;
}
.pr__main{
    font-size: 20px;
}
.main-content{
    display: flex;
    justify-content: space-around;
}
.main-content li{
    font-size: 20px;
}
.artist__midashi,.food__midashi{
    font-size: 40px;
}
.starg__form{
    text-align: center;
    margin: 10px auto;
    width: 800px;
    height: 400px;
}
.starg__form img{
    width: 100%;
    height: 70%;
}
.starg__text,.starg__setumei{
    font-size: 30px;
}
.contact__adles{
    text-align: center;
    margin: 20px;
}
.contact__text{
    font-size: 40px;
}
.email{
    font-size: 20px;
}
.footer__inner{
    width: 100%;
        background-color: black;
        display: flex;
        justify-content: left;
}
.footer__logo h1{
    color: white;
}
.footer__logo p{
    color: white;
}